RewriteEngine On
#RewriteBase /sirpika/

RewriteRule ^$ public/ [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^aboutus\.php$ public/info.php?page=about [L,QSA,NC]
RewriteRule ^terms\.php$ public/info.php?page=terms [L,QSA,NC]
RewriteRule ^faq\.php$ public/info.php?page=faq [L,QSA,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/$1 [L]