@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-size: 16px;
    padding: 0;
    margin: 0;
    background: #fffdfb;
    color: #888888;
    font-family: "Nunito Sans", sans-serif;
}


section{
   margin: 80px 0;
}

.bannerSlider {
   height: 500px;
 }

 
 .home-category{
   position: relative;
   z-index: 9;
   margin: 0;
   margin-top: -100px;
 }

 .home-category .catItem{
   width: 16.666%;
   text-align: center;
 }




 .home-category .catItem img{
   border-radius: 50%;
   border: #fff solid 5px;
   margin: auto;
 }
 .home-category .catItem h2{
   font-size: 20px;
   color: #000;
   margin-top: 20px;
   font-family: "Rokkitt", serif;
   text-transform: capitalize;
 }


 .home-category img {
     width: 80%;
     height: auto;
 }

 footer {
     background-color: #f8f9fa;
     padding: 20px 0;
 }

 h2.head{
   background: url(../images/millets.svg) no-repeat center top;
   background-size: 30px;
   font-family: "Nunito Sans", sans-serif;
   font-size: 40px;
    color: #000;
    text-align: center;
    margin: 40px;
    text-transform:capitalize;
    font-weight: 700;
    padding-top: 50px;
 }

 h2.head.bgLeft{
   background-position: top left;
 }


 a{
    color: #000;
    text-decoration: none;
 }

 a:hover{
    color: #FC673D;
 }

 .text-orange{
    color: #FC673D;
 }


 .header{
    padding: 30px 0;
    background: #fff;
   position: relative;
   z-index: 9999;
   }

 .nav-link{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    padding: 0 20px;
 }

 .active a{
    color: #FC673D;
 }

 .nav-link:focus, .nav-link:hover{
   color: #FC673D;
 }


 .logo img{
    position: absolute;
    z-index: 9;
    top: -65px;
    margin-left: -100px;
     transition: all 0.3s ease;
 }

 .bannerSlider .owl-item img{
   height: 600px;
   object-fit: cover;
 }

.whatsappChat a{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   font-size: 26px;
}

.owl-theme .owl-nav{
   top:calc(50% - 50px);
   position: absolute;
   z-index: 999;
   width: 100%;
}


.owl-theme .owl-nav [class*=owl-]{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background:#ffffff73 !important;   
}

.owl-theme .owl-nav [class*=owl-]:hover{
   width: 50px;
   height: 50px;
   color: #FC673D;
   background:#ffffffa4 !important;  
}

.owl-prev{
   float: left;
}

.owl-next{
   float: right;
}

.trendingProducts .item{
   position: relative;
}

.trendingProducts .item .content{
   position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding-right: 20px;
}

.trendingProducts .item .content p{
   margin-bottom: 0;
   color: #992D0F;
}

.trendingProducts .item .content h2{
   color: #FC673D;
   font-size: 40px;
   font-family: "Rokkitt", serif;
   font-weight: 700;

}

.trendingProducts .item img{
   width: 100%;
}

h1.head{
   font-size: 30px;
   color: #FC673D;
   font-family: "Rokkitt", serif;
   max-width: 800px;
   margin: auto;
   margin-bottom: 20px;
}

.welcome-content .container{
   max-width: 1000px;
}

.youtubeVideo{
   width: 80%;
   height: 500px;
   margin: auto;
   margin-top: 30px;
}

.left-column,
.right-column {
    padding: 20px;
}

.products-section{
   margin: 0;
   background: #FFF9F5 url(../images/bg_millet_icon.png);
   padding: 50px 0;
}

.products-section h2{
   text-align: left;
   margin: 0;
   margin-bottom: 20px;
}

.products-section .left{
   padding-right: 30px;
}

.products-section .left img{
   width: 100%;
}

.btn-primary{
   background: linear-gradient(to right, #FC673D, #f75b30);
   border: #FC673D solid 1px;
   color: #fff;
   font-weight: 500;
   position: relative;
   padding: 10px 25px;
   outline: none;
}

.btn-primary:hover, .btn-primary:focus{
   background: linear-gradient(to right, #fd5c30, #FC673D);
   border: #FC673D solid 1px;
   color: #fff;
}


.productList .item{
   display: flex;
   flex-direction: column;
   background: #fff;
   box-shadow: 0 3px 10px 5px rgba(100, 100, 100, 0.06);
   margin-bottom: 20px;
}

.productList .item .content{
   padding: 20px 10px;
}

.productList .item h2{
   font-family: "Rokkitt", serif;
   font-size: 20px;
   color: #000;
   margin-bottom: 10px;
   text-align: left;
}

.productList .item img{
   width: 100%;
}

p.price{
   font-size: 30px;
   font-weight: 700;
   color: #1ABC9C;
   margin:0;
}

p.price::before{
   content: '₹';
}

p.price span::before{
   content: '₹';
}

p.price span{
   font-weight: 300;
   color: #DBDBDC;
   text-decoration: line-through;
   font-size: 20px;
}

.why-millets-section .image-container img{
   width: 100%;
}

.why-millets-section .right-column{
   text-align: right;
}

.why-millets-section .content p{
   margin-bottom: 20px;
}

.instagram-section{
   margin-top: 80px;
   margin-bottom: 40px;
}
.footer{
   background: #FFF6EE;
}


ul.socialMedia{
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: row;
   gap: 10px;
   justify-content: end;
 }
 
 ul.socialMedia li{
   list-style: none;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: #FC673D solid 2px;
   text-align: center;
   justify-content: center;
   align-items: center;
   display: flex;
 }
 
 ul.socialMedia li a{
   padding: 10px;
   align-items: center;
     justify-content: center;
     display: flex;
     text-decoration: none;
 }
 
 ul.socialMedia li i{
   color: #FC673D;
   font-size: 18px;
 }

 ul.socialMedia li:hover{
   background: #FC673D;
 }
 ul.socialMedia li:hover i{
   color: #fff;
 }


 .content p strong{
   color: #000;
 }

 .innerBanner{
   position: relative;
 }

 .innerBanner img{
   height: 200px;
   width: 100%;
   object-fit: cover;
 }



 .innerBanner .title{
   position: absolute;
   width: 100%;
   text-align: center;
   top: 40%;
   color: #fff;
   font-size: 40px;
   z-index: 99;
 }

 .innerBanner::after{
   content: "";
   background: rgba(0,0,0,0.5);
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 9;
 }



 button:focus:not(:focus-visible) {
   outline: 0;
   box-shadow: none;
}

.navbar-toggler {
   display: none;
}

.mobile_logo{
   display: none;
   position: relative !important;
}

.mobile_logo img{
   height: 70px;
}



.logo{
   z-index: 999;
}

.about-content h2.head{
   background: none;
   text-align: left;
   padding: 0;
   margin: 0;
   margin-bottom: 20px;
   text-transform: capitalize;
}


.about-content ul{
   margin: 0;
   margin-top: 20px;
   padding: 0;
}

.about-content  .about-list ul li {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   gap: 1rem;
   padding: 10px 0;
}

.about-content  .about-list ul li p{
   margin-bottom: 0;
}

.about-content  .about-list ul li span img{
   width: 20px;
}



.about-service .about-service-section {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   gap: 30px;
   flex-wrap: wrap;
}

.about-service .about-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 30px;
   text-align: center;
   width: 30%;
}

.about-service .about-wrapper .wrapper-img span{
   background: #ffbc81;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-items: center;
   text-align: center;
   justify-content: center;
}

.about-service .about-wrapper .wrapper-img span img{
  height: 60px;
}




.about-service .seperator {
   width: 1px;
   height: 19.7rem;
   background: rgba(49, 139, 46, 0.1);
}

.wrapper-info h5{
   color: #000;
   font-weight: 600;
}

.contact-section .contact-information .wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   width: 100%;
   border: 1px solid #1ABC9C;
   border-radius: 0.5rem;
   padding: 30px 0;
   background: #fff;
}

.contact-section .contact-information .wrapper p{
   margin-bottom: 0;
}


.contact-section .contact-information .wrapper .wrapper-heading{
   text-align: center;
   font-size: 20px;
}

.contact-section .wrapper-heading {
   background-size: 30px;
   font-family: "Nunito Sans", sans-serif;
   font-size: 30px;
    color: #000;
    text-align: left;
    text-transform:capitalize;
    font-weight: 700;
}

.contact-section .contact-information .address {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   background: #fff;
   border: 1px solid #1ABC9C;
   padding: 2rem;
   border-radius: 0.5rem;
}

.contact-section .contact-information .contact-address {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: flex-start;
   gap: 1rem;
   text-align: left;
}

.contact-section .contact-information .contact-address .wrapper-heading{
   font-size: 20px;
}


.question-section {
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   background: #fff;
   height: 100%;
}

.question-section .review-form {
   width: 100%;
   height: 100%;
   margin-top: 0;
   padding: 2rem;
   background: #fff;
}

.review-form .review-form-text {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 0px;
   margin-bottom: 2rem;
   position: relative;
}

.question-section .review-form .review-form-name {
   margin-bottom: 2rem;
}

.review-form label {
   
   
   color: #797979;
   margin-bottom: 0.5rem;
}

.review-form .form-control, .review-form .form-select {
   border: 1px solid rgba(124, 126, 125, 0.2);
   box-shadow: none;
   color: #1d1d1d;
   height: 46px;
   border-radius: 3px;
}

.review-form label {   
   color: #797979;
   margin-bottom: 0.5rem;
}

.shop-btn {
   text-align: center;
   border-radius: 3px;
   display: inline-block;
   background: #FC673D;
   font-weight: 500;
   position: relative;
   color: #ffffff;
   transition: all 0.3s;
   overflow: hidden;
   z-index: 1;
   font-size: 20px;
   width: 100%;
   margin-top: 30px;
   padding: 10px 0;
   border: none;
}

.shop-btn:hover {
   color: #ffffff;
   background-color: #1ABC9C;
}


.review-textarea textarea.form-control{
   height: 110px;
}

.contact-map{
   width: 100%;
}

.contact-map iframe{
   width: 100%;
   height: 200px;
}

.contact-information{
   display: flex;
   flex-direction: column;
}

.catItem.shineEffect figure {
	position: relative;
   border-radius: 50%;   
}


figure {	
   margin: 0;
	padding: 0;
	overflow: hidden;
}

 .shineEffect figure {
	position: relative;
}

.shineEffect figure::before {
	position: absolute;
	top: 0;
	left: -76%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.shineEffect figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


.zoomOut figure img {
   transform: scale(1);
	transition: .3s ease-in-out;
}
.zoomOut:hover figure img{
	transform: scale(1.2);
}




.whatsAppOrder {
   position: fixed;
   right: 70px;
   bottom: 100px;
   border-radius: 50%;
   z-index: 99;
   width: fit-content;
   cursor: pointer;
}

.whatsAppOrder::after{
   content: "Bulk Order";
   position: absolute;
   display: block;
   left: -15px;
   bottom: -30px;
   white-space: nowrap;
   font-weight: 700;
}

.whatsAppOrder span.whatsapp-icon {
   cursor: pointer;
   border-radius: 50%;
}

.whatsAppOrder span {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 60px;
   height: 60px;
   background-color: #00a884;
}
.whatsAppOrder span.whatsapp-icon img {
   position: relative;
   width: 35px;
}




.sonar-wave {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 9999px;
	background-color: #4ecdf2;
	opacity: 0;
	z-index: -1;
	pointer-events: none;
  }

.sonar-wave1 {
	animation: sonarWave 2s linear infinite;
  }
  
  
  @keyframes sonarWave {
	from {
	  opacity: 0.4;
	}
	to {
	  transform: scale(3);
	  opacity: 0;
	}
  }



  

  section.product-content{
   margin-top: 50px;
  }

  .product-content .productList .col-md-3{
   width: 20%;
  }

.productList h2{
   font-size: 20px;
   text-align: center;
   text-transform: capitalize;
}


ul.productTab{
   display: flex;
   margin: 0;
   padding: 0;
   margin-bottom: 30px;
   justify-content: center;
   gap: 10px;
}

ul.productTab li{
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 700;
   list-style: none;
   padding: 8px 20px;
   background: #fff;
   cursor: pointer;
   border-radius: 20px;
   color: #000;
   box-shadow: 0 3px 10px 5px rgba(100, 100, 100, 0.06);
}

ul.productTab li.active, ul.productTab li:hover{
   background: #FC673D;
   color: #fff;
}

.weight{
   margin: 0;
}

.filter-button-group{
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
   gap: 10px;
}

.filter-button-group button{
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 700;
   list-style: none;
   padding: 10px 30px;
   background: #fff;
   cursor: pointer;
   border-radius: 20px;
   color: #000;
   box-shadow: 0 3px 10px 5px rgba(100, 100, 100, 0.06);
   border: none;
}


.filter-button-group button:hover, .filter-button-group button.is-checked{
   background: #FC673D;
   color: #fff;
}


.message {
   padding: 10px;
   margin-bottom: 50px;
   border-radius: 5px;
   text-align: center;
   font-size: 18px;
}
.success {
   background-color: #d4edda;
   color: #155724;
}
.error {
   background-color: #f8d7da;
   color: #721c24;
}

.comingSoon{
   min-height: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #FC673D;
}

.text-primary{
   color: #FC673D !important;
}

.bg-primary{
   background: #FC673D !important;
}


.homeBanner{
   margin: 0;
}

.homeBanner .owl-item img{
   height: 600px;
   object-fit: cover;
}


/* Marquee Animation */
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    animation: marquee 30s linear infinite;
}


.marquee-container {
  overflow: hidden; /* Hide text when it moves outside the box */
  white-space: nowrap; /* Keep text on a single line */
}

.marquee-text {
  display: inline-block;
  padding-left: 100%; /* Start the text off-screen to the right */
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); } /* Move entirely to the left */
}


header.headerSticky .logo img {
   height: 85px;
   top: -30px;
   transition: all 0.3s ease;
  
}

.fa-shopping-cart{
   color: #181312;
}


.online-order {
   font-weight: 700;
   border-radius: 30px;
}

.innerProductBanner{
   position: relative;
   margin: 0;
   margin-bottom: 50px;
   width: 100%;
}

.productFilter{
   background: #FFF6EE;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
}

.productFilter{
   box-shadow: 0 3px 10px 5px rgba(100, 100, 100, 0.06);
}


 .Cathead{  
   font-family: "Nunito Sans", sans-serif;
   font-size: 32px;
   color: #000000;
   text-transform: capitalize;
 }

 .youtubeBtn{
   position: absolute;
   top: 10px;
   right: 10px;
 }